In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.6500,115.3333,97.05,30,38,7.76,AU,2022-02-03 07:39:44
1,1,Kavieng,-2.5744,150.7967,80.28,79,100,12.26,PG,2022-02-03 07:37:09
2,2,Richards Bay,-28.7830,32.0377,90.28,52,9,9.44,ZA,2022-02-03 07:39:45
3,3,Dikson,73.5069,80.5464,-10.75,98,93,10.87,RU,2022-02-03 07:39:46
4,4,Ushuaia,-54.8000,-68.3000,40.66,65,75,20.71,AR,2022-02-03 07:37:23

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Kavieng,-2.5744,150.7967,80.28,79,100,12.26,PG,2022-02-03 07:37:09
9,9,Puerto Ayora,-0.7393,-90.3518,73.54,93,17,3.00,EC,2022-02-03 07:39:49
10,10,Souillac,-20.5167,57.5167,79.36,94,75,26.46,MU,2022-02-03 07:39:50
14,14,Hilo,19.7297,-155.0900,70.79,89,75,3.44,US,2022-02-03 07:39:53
17,17,Tiarei,-17.5333,-149.3333,82.00,77,16,20.87,PF,2022-02-03 07:39:55
26,26,Broken Hill,-31.9500,141.4333,78.51,25,0,19.57,AU,2022-02-03 07:39:58
28,28,Butaritari,3.0707,172.7902,82.11,77,100,13.53,KI,2022-02-03 07:40:00
29,29,Rikitea,-23.1203,-134.9692,77.52,77,100,10.45,PF,2022-02-03 07:35:45
32,32,Bubaque,11.2833,-15.8333,76.98,79,21,5.86,GW,2022-02-03 07:40:02
37,37,Sao Filipe,14.8961,-24.4956,73.38,74,0,10.49,CV,2022-02-03 07:40:06

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       5
Date          0
dtype: int64

In [14]:
preferred_cities_df.count()

City_ID       180
City          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
Country       175
Date          180
dtype: int64

In [15]:
preferred_cities_df.notnull().sum()

City_ID       180
City          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
Country       175
Date          180
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1        Kavieng      PG     80.28  -2.5744  150.7967
9   Puerto Ayora      EC     73.54  -0.7393  -90.3518
10      Souillac      MU     79.36 -20.5167   57.5167
14          Hilo      US     70.79  19.7297 -155.0900
17        Tiarei      PF     82.00 -17.5333 -149.3333
26   Broken Hill      AU     78.51 -31.9500  141.4333
28    Butaritari      KI     82.11   3.0707  172.7902
29       Rikitea      PF     77.52 -23.1203 -134.9692
32       Bubaque      GW     76.98  11.2833  -15.8333
37    Sao Filipe      CV     73.38  14.8961  -24.4956

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

#     "location": "48.8566, 2.3522"}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
#   hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kavieng,PG,80.28,-2.5744,150.7967,Nusa Island Retreat
9,Puerto Ayora,EC,73.54,-0.7393,-90.3518,Finch Bay Galapagos Hotel
10,Souillac,MU,79.36,-20.5167,57.5167,Shanti Maurice Resort & Spa
14,Hilo,US,70.79,19.7297,-155.0900,Hilo Hawaiian Hotel
17,Tiarei,PF,82.00,-17.5333,-149.3333,Le Rocher de Tahiti
...,...,...,...,...,...,...
547,Ikare,NG,78.44,7.4913,5.2322,Inisa Gardens Hotel & Events Centre
551,Acarau,BR,76.28,-2.8856,-40.1200,castelo pizzaria
555,Linhares,BR,72.12,-19.3911,-40.0722,Hotel Conceição
556,Rundu,NaN,77.99,-17.9333,19.7667,Millennia Estate
557,Teahupoo,PF,76.53,-17.8333,-149.2667,Vanira Lodge

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))